.container {
    max-width: 1300px;
    width: 100%;
    margin:0 auto;
    padding: 0 15px;
}

.wrapper-1{
    display:flex;
    justify-content:space-between;
    margin-right:-180px;
    position:static;    
}
.wrapper-2{
    display:flex;
    justify-content:space-between;
    margin-right:180px;
    
}
.block__icon {
    border-radius: 50%;
    background-color: #f1e35c;
    width:95px;
    height:95px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    }

    .p2{
        
            width: 277px;
            height: 200px;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 30px;
            color: #444444;
            font-family: "Ubuntu";
            font-weight: 400;
           
    }
    .brr{
       padding-top:65px;
       display:flex;
       justify-content:center;
       margin-right:25px;
    }
    .block{
        margin-top:40px;
        margin-right:20px;
    }


    .h2{
        width: 277px;
            height: 50px;
            font-size: 18px;
            padding-left:20px;
            padding-bottom:20px;
            letter-spacing: 1px;
            line-height: 50px;
            color: #444444;
            font-family: "Ubuntu";
            font-weight: 700;
            display:flex;
            align-items:center;
            flex-direction:row;
            justify-content:center;
    }